---
import datos from "../lib/data.json";

type Work = {
  title: string;
  type: string;
  description: string;
  image: string;
  link: string;
  extra?: string;
};

const { filtro } = Astro.props;
const works: Work[] = datos
  .filter((work) => filtro === "todos" || work.type.toLowerCase() === filtro)
  .map((work) => ({
    title: work.title,
    type: work.type,
    description: work.desc,
    image: work.img,
    link: work.git,
    extra: work.extra,
  }));
---

<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
  {
    works.length === 0 ? (
      <p class="col-span-full text-center text-lg">
        No hay proyectos para mostrar.
      </p>
    ) : (
      ""
    )
  }
  {
    works.map((work) => (
      <article class="flex flex-col items-center bg-[var(--bg-alt)] p-4 rounded-lg shadow-md transition">
        <h4 class="text-center mb-4 text-2xl text-wrap">{work.title}</h4>
        <img
          src={work.image}
          alt={`${work.title} Portrait`}
          loading="eager"
          class="work-image"
        />
        <p class="text-justify font-medium mt-2 mb-2">{work.description}</p>
        <div class="flex flex-col items-center justify-end gap-2 h-2/12">
          <a
            href={work.link}
            class="hover:text-[var(--accent-blue)] font-normal underline text-sm"
            target="_blank"
          >
            Repositorio del Proyecto
          </a>
          {work.extra ? (
            <a
              href={work.extra}
              class="hover:text-[var(--accent-blue)] font-normal underline text-sm"
              target="_blank"
            >
              {work.extra}
            </a>
          ) : (
            ""
          )}
        </div>
      </article>
    ))
  }
</section>
